extends layout

block title
  title AberOWL: Login
  meta(name='title', content='AberOWL login')
  meta(name='description', content='Login to AberOWL ontology repository')
  link(rel="icon" href="http://aber-owl.net/favicon.png")
  link(rel='stylesheet', href='/css/base.css')
  link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
  link(rel='stylesheet', href='/css/style.css')

block content
  .container
    h2 Log In
    -if(messages.error)
      div.alert.alert-danger(role='alert')
        span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
        span &nbsp; Error: #{messages.error}
    form.form-signin(action='/login', method='post', role='form')
      form-group.row
        label.col-sm-2.form-control-label Username:
        .col-sm-10
          input.form-control(name='username', type='text', placeholder='Username', required)
      form-group.row
        label.col-sm-2.form-control-label Password:
        .col-sm-10
          input.form-control(name='password', class="form-control", type='password', placeholder='Password', required)
      form-group.row
        label.col-sm-2.form-control-label
        .col-sm-10
          button.btn.btn-lg.btn-success.btn-block(type='submit') Login

  +footer
