extends layout

block title
  title Upload Ontology - AberOWL: Framework for ontology-based data access in biology

block content
 .container
      form.form-signin(action='/ontology/upload', method='post', role='form', enctype="multipart/form-data")
        h2.form-signin-heading Upload New Ontology
        -if(messages.error) 
          div.alert.alert-danger(role='alert')
            span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
            span &nbsp; Error: #{messages.error}
        h5 Here you can upload a new ontology. First you should probably check 
          a(href='/ontology/') here
          span  to see if it has already been uploaded (you can claim ownership for your ontologies). If you don't have an ontology yet, try making one about #{noun}?
        form-group.row
          label.col-sm-2.form-control-label Ontology Acronym:
          .col-sm-10
            input.form-control(name='acronym', type='text', placeholder='Ontology Acronym', required)
        form-group.row
          label.col-sm-2.form-control-label Ontology Name:
          .col-sm-10
            input.form-control(name='name', type='text', placeholder='Ontology Name', required)
        form-group.row
          label.col-sm-2.form-control-label Ontology Description:
          .col-sm-10
            textarea.form-control(name='description', placeholder='Ontology Description', required)
        form-group.row
          label.col-sm-2.form-control-label Upload:
          .col-sm-10
            span.btn.btn-default.btn-file Choose Ontology File
              input(name='ontology', type='file')
            div Or
              input.form-control(name='url', placeholder="Enter a URL")
        form-group.row
          label.col-sm-2.form-control-label
          .col-sm-10
            button.btn.btn-lg.btn-danger.btn-block(type='submit') Submit Ontology
  +footer
